<h1>All Listings</h1>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class='well'>
        <%= link_to (image_tag ('/pumpjack1.jpg'), class: ''), listing %>
        <h4><%= listing.title %></h4>
        <p><%= listing.description %></p>

        <%= link_to 'View', listing_path(listing) %> |
        <%= link_to 'Edit', edit_listing_path(listing) %> |
        <%= link_to 'Destroy', listing_path(listing),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
