<div class="container-fluid">
  <div class="row">
    <h1>All Listings</h1>
    <hr>
      <% @listings.each do |listing| %>
        <div class="col-md-3">
          <div class='well'>
            <%= link_to (image_tag ('/pumpjack'+rand(1..2).to_s+'.jpg'), class: ''), listing %>
            <h4><%= listing.title %></h4>
            <p><%= listing.description %></p>
            <div class='text-center'>
              <div class="btn-group" role="group" aria-label="...">
                <a href="<%= listing_path(listing) %>" class="btn btn-default">View</a>
                <a href="<%= edit_listing_path(listing) %>" class="btn btn-default">Edit</a>
                <%= link_to 'Delete', listing_path(listing), method: :delete, class:"btn btn-default", data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <h1>Categories</h1>
  Select a category to view
</div>
