<h1>Listing Details</h1>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<h2>Comments</h2>
<%= render @listing.comments %>

<div class='row'>
  <div class='col-md-6'>
    <h2>Add a Comment</h2>
    <%= render 'comments/form' %>
  </div>
  <div class='col-md-6'></div>
</div>

<%= link_to 'Back to Listings', listings_path %> |
<%= link_to 'Edit', edit_listing_path(@listing) %>
